<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>你的项目</title>
    <!--添加Bootstrap和fontawesome的样式-->
    <link th:href="@{/css/theme-chalk-2.15.7.css}" href="../static/css/theme-chalk-2.15.7.css" rel="stylesheet"/>
</head>
<body>
<div id="app">
    <h1>Index页面-测试Vue+ElementUI</h1>

    <el-row>
        <el-col :span="2" :offset="11">
            <el-button type="primary">普通按钮</el-button>
        </el-col>
    </el-row>

    <h3>请登录：<a href="/login.html">点击登陆</a></h3>
    <h3>请登出：
        <form action="/logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"><br/>
            <button type="submit">点击登出</button>
        </form>
    </h3>

    <div>
        <p>用户信息：<span th:text="${#session?.getAttribute('SPRING_SECURITY_CONTEXT')}"></span></p>

        已经登录的用户名：<span th:text="${#authentication.name}"></span>

        <div>
            图片静态资源：<img src="/images/test.jpg" width="200"/>
        </div>
    </div>
</div>

<!--js脚本-->
<script th:src="@{/js/vue-2.6.14.min.js}" src="../static/js/vue-2.6.14.min.js"></script>
<script th:src="@{/js/vue-router.js}" src="../static/js/vue-router.js"></script>
<script th:src="@{/js/axios-0.26.js}" src="../static/js/axios-0.26.js"></script>
<script th:src="@{/js/element-ui-2.15.7.js}" src="../static/js/element-ui-2.15.7.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            text: '请输入你的想法……',
        },
        methods: {
            click: function (id) {
            }
        },
        mounted: function () {
            console.log('已经加载Vue……')
        },
    });
</script>
</body>
</html>